
div
{
    text-align: center;
    height: 100px;
    width: 150px;
    background-color:rgb(133, 251, 255);
    border:2px solid black;
    /* position: fixed;
    top:250px;
    left:550px; */
    animation-name: positionanimate;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse;
}

@keyframes  positionanimate
{
    from
    {
        /* background-color: blue; */
        position: relative;
        left:0px;
    }
    to
    {
        /* background-color: blueviolet; */
        position: relative;
        left: 200px;
    }
    
}

